@import "core/variables";
@import "core/reset";

@import "layout/header";
@import "layout/footer";

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100vh;
  font-family: "Barlow Semi Condensed";
}
