<footer>
  <section class="footer__rules">
    <h2 class="footer__rules-title">Rules</h2>
    <p class="footer__rules-information">
      Score Rules You Picked The House Picked You Win You Lose Play Again
    </p>
  </section>
  <aside class="footer__attribution">
    <p class="footer__attribution-information">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >.
    </p>
    <p class="footer__attribution-information">
      Coded by <a href="#">Azahara Martinez Garcia</a>.
    </p>
  </aside>
</footer>
