<main class="main">
  <section class="main__section">
    <img
      class="main__section-triangle"
      src="./assets/images/bg-triangle.svg"
      alt=""
    />
  </section>
  <h2>Make Your Selection</h2>
  <section class="main__choices">
    <img
      class="main__choices-img"
      id="paper"
      src="./assets/images/icon-paper.svg"
      alt="paper"
    />
    <img
      class="main__choices-img"
      id="rock"
      src="./assets/images/icon-rock.svg"
      alt="rock"
    />
    <img
      class="main__choices-img"
      id="scissors"
      src="./assets/images/icon-scissors.svg"
      alt="scissors"
    />
  </section>
  <button class="restart-btn" id="restart">Restart Game</button>
</main>
