<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <div class="page">
      <partial src="_header.html"></partial>
      <partial src="_main.html"></partial>
      <partial src="_modal.html"></partial>
      <partial src="_footer.html"></partial>
    </div>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
