.footer__attribution {
  margin: 1.25rem auto 1.25rem auto;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $quinary-color;

  &-link {
    text-decoration: none;
    color: $quinary-color;
  }
}
