.header {
  text-transform: uppercase;
  text-align: center;
  border: 0.125rem solid $quinary-color;
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem auto 1.25rem auto;
  padding: 0.625rem;

  &__list-item {
    list-style: none;
    color: $light-text;
    font-weight: 700;
    text-align: start;
  }

  &__score {
    background-color: $light-text;
    padding: 0.625rem 1.25rem;
    color: $quinary-color;
    border-radius: 0.625rem;
    text-align: center;
  }
}
