$dark-text: hsl(229, 25%, 31%);
$light-text: hsl(1, 100%, 100%);

$primary-color: hsl(41, 83%, 60%);
$secondary-color: hsl(229, 64%, 46%);
$tertiary-color: hsl(345, 100%, 50%);
$quaternary-color: hsl(41, 85%, 79%);
$quinary-color: hsl(217, 16%, 45%);

$win-color: hsl(120, 100%, 25%);
$lose-color: hsl(9, 100%, 64%);
